# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Backend Configuration
SECRET_KEY=your_super_secret_jwt_key_here

# Frontend Configuration
# Update this if deploying to production
VITE_API_URL=https://api.techlap.id.vn/v1
FRONTEND_URL=https://techlap.id.vn

# Cloudinary Configuration for Image Uploads
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Email Configuration
SMTP_HOST=smtp.yourprovider.com
SMTP_PORT=2525
SMTP_USERNAME=your_username
SMTP_PASSWORD=your_password
SMTP_FROM=noreply@techlap.id.vn
SMTP_FROM_NAME=TechLap

# VNPay Configuration
VNPAY_TMN_CODE=your_tmn_code
VNPAY_HASH_SECRET=your_hash_secret
VNPAY_PAYMENT_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPAY_RETURN_URL=https://techlap.id.vn/payment/vnpay/return
